body{
    background-color: hsla(0, 0%, 90%, 0.6);
}

#coin{
    width: 400px;
    border-radius: 1000px;
    display: block;
    margin: auto;
    background-color: blue;
}

#title{
    text-align: center;
    font-family: "UnifrakturCook";
    font-size: 100px;
}

#flipBtn{
    width: 200px;
    height: 100px;
    font-family: "UnifrakturCook";
    font-size: 40px;
    display: block;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    border: none;
    background-color: hsla(196, 100%, 50%, 0.9);
    color: white;
    cursor: pointer;
}


#scoreBox{
    width: 800px;
    height: 300px;
    max-width: 400px;
    max-height: 400px;
    background-color: hsla(0, 0%, 90%, 0.6);
    position: fixed;
    left: 1200px;
}

#boxElements{
    font-family: "UnifrakturCook";

}

#flipBtn:hover{
    background-color: hsla(196, 100%, 50%, 0.8);

}
#flipBtn:active{
    background-color: hsla(196, 100%, 50%, 0.5);

}